[build-system]
requires = [
    "setuptools >= 64.0",
    "setuptools_scm[toml] >= 6.2",
]
build-backend = "setuptools.build_meta"

[project]
name = "strava-offline"
description = "FIXME"
authors = [{name = "Tomáš Janoušek", email = "tomi@nomi.cz"}]
license = {text = "MIT"}
readme = {file="README.md", content-type="text/markdown"}
dynamic = ["version"]
classifiers = [ # https://pypi.org/classifiers/
    # FIXME: "Development Status :: …",
    "Environment :: Console",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    # FIXME: "Topic :: …",
]
urls = {Homepage = "https://github.com/liskin/strava-offline"}
requires-python = "~= 3.8"
dependencies = [
    "PyYAML",
    "click ~= 8.0",
    "click-config-file",
    "importlib-metadata; python_version<'3.10'",
    "platformdirs >= 2.1",
]

[project.optional-dependencies]
dev = [
    "build >= 0.7",
    "cram",
    "flake8",
    "isort >= 5.0",
    "mypy >= 0.900",
    "pyflakes >= 2.2.0",
    "twine",
    "types-PyYAML",
]
test = [
    "pytest",
]

[project.scripts]
strava-offline = "strava_offline.cli:cli"

[tool.setuptools_scm]

[tool.setuptools.packages.find]
where = ["src"]
namespaces = false

[tool.mypy]
python_executable = ".venv/bin/python3"
show_error_codes = true

[tool.isort]
profile = "open_stack"

# vim:set et:
