interactions:
- request:
    body:
      grant_type=authorization_code&client_id=12345&client_secret=SECRET&code=CODE&redirect_uri=http%3A%2F%2F127.0.0.1%3A12345%2Fcode
    headers:
    method: POST
    uri: https://www.strava.com/oauth/token
  response:
    &res1
    body:
      string: |
        {
          "token_type": "Bearer",
          "expires_at": 1600000000,
          "expires_in": 600,
          "refresh_token": "REFRESH_TOKEN",
          "access_token": "ACCESS_TOKEN",
          "athlete": {"id": 123}
        }
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body:
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/athlete
  response:
    body:
      string: |
        {"id": 123}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
